<nav class="navbar navbar-expand-lg navbar-light bg-dark rounded-navbar">
  <!-- <a class="navbar-brand" href="#">MyApp</a> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    <i class="fas fa-bars"></i>
  </span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/navbar/employees">Users</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/navbar/products">Products</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/navbar/sales">Sales</a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/navbar/newSales">New Sales</a>
      </li> -->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
