<div class="login-background-blur">
  <div class="login-page-background">
<div class="container h-100 w-100">
  
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-6 col-md-4 col-lg-6">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="border rounded p-5 form-bg shadow">
        
        <h3 class="text-center mb-4 login-h3">Login</h3>
        <div class="form-group">
          <!-- <label for="username">Username</label> -->
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
          <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="text-danger">
            <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</div>
            <!-- <div *ngIf="loginForm.get('username').errors.minlength">Username must be at least 3 characters.</div> -->
          </div>
          
        </div>
        <br>
        <div class="form-group">
          <!-- <label for="password">Password</label> -->
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('username')?.invalid" class="text-danger">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
            <!-- <div *ngIf="loginForm.get('password')?.errors.minlength">Password must be at least 6 characters.</div> -->
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary w-100 mt-3"> <i class="fas fa-arrow-right"></i></button>

        <div *ngIf="invalidCredentials" class="mt-2">
          <ngb-alert type="danger" (close)="closeAlert()">
            Invalid credentials. Please try again.
          </ngb-alert>
        </div>
      </form>
    </div>
  </div>
</div>
  </div>
  </div>
