<div class="container rounded border shadow p-0 mb-3 mt-5 bg-white">

  <div class="row">

    <!-- Sales Addition/Edit Form - 25% width -->
    <div class="col-md-3 p-3 bg-dark text-white rounded">
      <h2 class="text-center">Add Sales</h2>

      <form [formGroup]="saleForm" (ngSubmit)="submitForm()" class="mb-4">
        <div class="form-group">
          <label for="departmentName">Department Name</label>
          <input type="text" class="form-control" id="departmentName" formControlName="departmentName" placeholder="Enter department name">
          <div *ngIf="saleForm.get('departmentName')?.errors?.['required'] && saleForm.get('departmentName')?.touched" class="text-danger">
            Department name is required.
          </div>
          <div *ngIf="saleForm.get('departmentName')?.errors?.['minlength'] && saleForm.get('departmentName')?.touched" class="text-danger">
            Department name must be at least 3 characters.
          </div>
          <div *ngIf="saleForm.get('departmentName')?.errors?.['pattern']" class="text-danger">
            Department name must contain only letters.
          </div>
        </div><br>
        <div class="form-group">
          <label for="employeesCount">Employees Count</label>
          <input type="number" class="form-control" id="employeesCount" formControlName="employeesCount" placeholder="Enter number of employees">
          <div *ngIf="saleForm.get('employeesCount')?.errors?.['required'] && saleForm.get('employeesCount')?.touched" class="text-danger">
            Employee Count is required.
          </div>
          <div *ngIf="saleForm.get('employeesCount')?.errors?.['min'] && saleForm.get('employeesCount')?.touched" class="text-danger">
            Employees must atleast be 1.
          </div>
          
        </div><br>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter address">
          <div *ngIf="saleForm.get('address')?.errors?.['required'] && saleForm.get('address')?.touched" class="text-danger">
            Address is required.
          </div>
        </div><br><br>
        <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Add' }} Sale</button> &nbsp;
        <button type="button" class="btn btn-secondary" (click)="resetForm()" *ngIf="isEditMode">Cancel Edit</button>
      </form>
    </div>

    <!-- Space between form and table -->
    <!-- <div class="col-md-1"></div> -->

    <!-- Sales Table - 75% width -->
    <div class="col-md-9">
      <table class="table table-hover shadow table-striped">
        <thead class="bg-dark text-white table-dark">
          <tr>
            <!-- <th>ID</th> -->
            <th>Department Name</th>
            <th>Employees Count</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <!-- <td>{{ sale.id }}</td> -->
            <td>{{ sale.departmentName }}</td>
            <td>{{ sale.employeesCount }}</td>
            <td>{{ sale.address }}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="startEdit(sale)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
