<div class="container">
    <!-- <h2>Employee List</h2> -->
    <table class="table">
      <thead>
        <tr>
          <th>Employee Number</th>
          <th>Username</th>
          <th>Address</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeNumber }}</td>
          <td>{{ employee.username }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.DOB }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  