<div class="container my-8">
  <div class="row justify-content-center">
    <div class="col-12"> 
      <div class="table-responsive mt-5">
        <table class="table table-hover table-striped shadow">
          <thead class="bg-dark text-white table-dark">
            <tr>
              <th>User ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Date of Birth</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.employeeNumber }}</td>
              <td>{{ employee.username }}</td>
              <td>{{ employee.address }}</td>
              <td>{{ employee.DOB }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
